{% extends "base.html" %}

{% block content %}

<h1>Login</h1>
    <form action="/login" method="post">
        <table>
            <tr>
                <td><label for="username">Username</label></td>
                <td>
                    <input type="text" name="username" value={{ username }}>
            </tr>
            <tr>
                <td><label for="password">Password</label></td>
                <td>
                    <input type="password" name="password">
                </td>                
            </tr>
        </table>
        <input type="submit" value="Login"> | <a href="/signup">Create Account</a>
    </form>

    {% endblock %}