{% extends "base.html" %}

{% block content %}
<h1>Add a Blog Entry</h1>
<form action="/blog" method="post">
    <table>
        <tr>
            <td><label for="title">Title for your new blog:</label></td>
        </tr>
        <tr>
            <td><input type="text" name="title" maxlength="120" value="{{ title }}">
            <span class="error">{{ title_error }}</span></td>
        </tr>
        <tr>
            <td><label for="body">Your new blog:</label></td>
        </tr>
        <tr>
            <td><textarea type="text" name="body" maxlength="500" value="{{ body }}" style="height: 120px; width:280px; "></textarea>
            <span class="error">{{ body_error }}</span></td>
        </tr>
    </table>
    <input type="submit" value="Add Blog">
</form>
{% endblock %}